div.header__row.discounts
    span скидка на обьем:
    ul.discounts__list
        li.discounts__item
            span.discounts__task Свыше 60 м.
            span.discounts__value 3%
            div.discounts__icon
        li.discounts__item
            span.discounts__task Свыше 100 м.
            span.discounts__value 5%
            div.discounts__icon
        li.discounts__item
            span.discounts__task Свыше 200 м.
            span.discounts__value 7%
            div.discounts__icon
