div.header__row.title
    span
        span.text--active 20%
        | &nbsp;экономии
    h1
        | Только до
        span.text--active &nbsp;29 февраля&nbsp;
        | зимние цены на материал для Вашего забора


