a {
  text-decoration: none;
  color: #ffffff;
}

span {
  font-size: 1rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #222222;
  border: none;
  outline: none;
  padding: 15px 10px;
  font-size: 1.14rem;
  border-radius: 2px;
  box-shadow: 0px 0px 18px rgba(255, 205, 29, 0.7);
  transition: box-shadow 0.1s linear, background 0.1s linear;
  &:hover {
    cursor: pointer;
  }
  &:hover,
  &--active {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.37);
    background: #FFCD1D;
    position: relative;
    &::before {
      content: "";
      display: inline-block;
      background-size: contain;
    }
    &::after {
      content: "";
      width: 100%;
      height: 10px;
      background: rgba(255, 205, 29, 0.4);
      border-radius: 2px;
      bottom: -2px;
      left: 0;
      position: absolute;
    }
  }
  &--action {
    background: linear-gradient(113.29deg, #FFCD1D 72.05%, #D69E0D 108.19%);
    box-shadow: 0px 0px 18px rgba(255, 205, 29, 0.7);
    font-weight: 400;
    &:hover {
      background: linear-gradient(113.29deg, #FFCD1D 72.05%, #D69E0D 108.19%);
    }
  }
}

li {
  &:hover {
    cursor: pointer;
  }
}

.text {
  &--transparent {
    color: rgba(255, 205, 29, .68);
  }
  &--active {
    color: #FFCD1D;
  }
}