@font-face {
  font-family: GothamPro;
  src: url("./assets/fonts/Gotham-pro/GothamPro-Light.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: GothamPro;
  src: url("./assets/fonts/Gotham-pro/GothamPro.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GothamPro;
  src: url("./assets/fonts/Gotham-pro/GothamPro-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: Kelson;
  src: url("./assets/fonts/Kelson/KelsonSans-RegularRU.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Kelson;
  src: url("./assets/fonts/Kelson/KelsonSans-BoldRU.woff");
  font-weight: 700;
}