.discounts {
  & > span {
    font-size: 1.19rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  &__list {
    display: flex;
    margin-top: 35px;
  }
  &__item {
    width: 165px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #222222;
    border-radius: 2px;
    position: relative;
    &:not(:last-of-type) {
      margin-right: 30px;
      &::after {
        content: '';
        position: absolute;
        right: -14px;
        width: 7px;
        border-left: solid 7px #ffffff;
        border-bottom: solid 7px transparent;
        border-top: solid 7px transparent;
      }
    }
    &:not(:first-of-type) {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 7px;
        border-left: solid 7px #1c240e;
        border-bottom: solid 7px transparent;
        border-top: solid 7px transparent;
      }
    }
  }
  &__value {
    font-weight: bold;
    font-size: 1.4375rem;
    padding-top: 5px;
  }
  &__icon {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    right: -12px;
    top: -12px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: linear-gradient(95.32deg, #FFCD1D 72.05%, #D69E0D 108.19%);
    &::before {
      content: "+";
      position: absolute;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: #222222;
      font-weight: 900;
      width: 34px;
      height: 34px;
      border-radius: 50px;
      background-color: rgba(255, 205, 29, 0.4);;
    }
  }
}