header {
  background: url("./assets/images/bg/bg-img.jpg") no-repeat top center,
  url("./assets/images/icons/fence.svg") no-repeat top center #222222;
  background-size: cover;
  height: 728px;
  min-height: 728px ;
  color: #ffffff;
}

.header {
  &__container {
    width: 1160px;
    margin: 0 auto;
  }
  &__row {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    &:nth-of-type(1) {
      flex-direction: row;
      justify-content: space-between;
      padding-right: 25%;
    }
  }
}
