.logo {
  display: flex;
  align-items: center;
  width: 370px;
  & img {
    margin-right: 24px;
  }
  & span {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 130%;
    color: rgba(255, 255, 255, .68);
  }
}