.phone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 22px;
  font-family: Kelson, sans-serif;
  & span {
    font-size: 0.75rem;
    text-transform: uppercase;
    padding-bottom: 16px;
    letter-spacing: 1px;
  }
  &__number {
    text-shadow: 0px 0px 18px rgba(255, 205, 29, 0.7);
    font-size: 1.31rem;
    font-weight: bold;
    padding-bottom: 15px;
  }
  & .button--active {
    width: 170px;
    font-size: 0.8125rem;
    font-family: Kelson, sans-serif;
    padding: 11px 10px;
    &::before {
      background: url("./assets/images/icons/phone.svg") no-repeat center;
      width: 15px;
      height: 16px;
      margin-right: 12px;
    }
  }
}