.test {
  margin-left: 195px;
  margin-top: 25px;
  & span {
    line-height: 150%;
    &:nth-of-type(1) {
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
    &:nth-of-type(2) {
      display: inline-block;
      width: 20%;
      letter-spacing: 0.5px;
    }
  }
  & .button--action {
    width: 275px;
    margin-top: 25px;
  }
  & .button--active {
    padding: 7px 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Kelson, sans-serif;
    font-size: 1.0714rem;
    letter-spacing: 2.5px;
    &::before {
      background: url("../../assets/images/icons/square.svg") no-repeat center,
      url("../../assets/images/icons/check.svg") no-repeat 5px 0;
      width: 23px;
      height: 30px;
      margin-right: 18px;
    }
  }
}