doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name="description" content="stroytest")
        meta(name="theme-color" content="#070707")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='stroytest'
        link(rel="icon" href="./simple-logo.png" type="image/x-icon")
    body
        header.header
            div.header__container
                div.header__row
                    include ./includes/logo
                    include ./includes/phone
                include includes/title
                include ./includes/discounts
                include ./includes/test

        main
            div.container





